.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin: 8% 0;
}
.imgLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 360px 160px 140px;
  width: 100%;
  max-width: 500px;
  gap: 10px;
}

.imgContainer {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.imgContainer2 {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.imgContainer3 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.imgContainer4 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.textContainer {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 700px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-start; */
    padding: 0;
  }
  .imgLayout {
    max-width: 700px;
  }
  .textContainer {
    align-items: flex-start;
    width: 40%;
    margin: 50px 5%;
    min-width: 200px;
  }

  .textContainer p {
    text-align: start;
    margin: 2rem 0;
  }
  .textContainer h2 {
    text-align: start;
  }
  .textContainer div {
    align-items: flex-start;
  }
}
