.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin-top: 4rem;
}

.imgContainer {
  width: 100%;
  max-width: 500px;
  height: 450px;
  position: relative;
}

.infoContainer {
  display: grid;
}

@media only screen and (min-width: 700px) {
  .container {
    flex-direction: initial;
    align-items: flex-start;
    padding: 0;
    justify-content: space-between;
  }
  .imgContainer {
    max-width: 700px;
    height: 550px;
  }
  .infoContainer {
    justify-items: start;
    margin: 0 5%;
    text-align: start;
    width: 40%;
    min-width: 200px;
  }
  .infoContainer div {
    align-items: start;
  }
  .infoContainer p {
    text-align: start;
    max-width: none;
  }
}

@media only screen and (min-width: 1700px) {
  .imgContainer {
    max-width: 800px;
    height: 750px;
  }
}
