.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin: 8% 0;
}

.textContainer {
  display: grid;
}
.imgContainer {
  width: 100%;
  height: 400px;
  max-width: 500px;
  position: relative;
}
