.button {
  background-color: var(--color-openTable);
  color: var(--color-white);
  padding: 10px 10px;
  border-style: none;
  border-radius: 7px;
  position: sticky;
  top: 90px;
  display: block;
  margin-left: auto;
  z-index: 999;
}
