.container {
  /* color: var(--color-white); */
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.p {
  color: var(--color-mediumGrey);
  font-size: 1.2rem;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
