.container {
  text-align: center;
  /* margin-top: 100px; */
}

.sliderContainer {
  /* margin: 0 auto; */
  position: relative;
  display: flex;
  /* padding: 0px 0px 150% 0px; */
  width: 100%;
  height: 600px;
  margin-bottom: 40px;
  margin-top: 90px;
}

.imgContainer {
  width: 100%;
  height: 600px;
  /* max-height: 800px; */
  position: relative;
}

.sliderContainer article {
  position: absolute;
  /* top: 70;
  left: 0; */
  width: 100%;
  transition: all 3s ease;
}
.sliderContainer article.activeSlide {
  opacity: 1;
}
.sliderContainer article.lastSlide {
  opacity: 0;
}
.sliderContainer article.nextSlide {
  opacity: 0;
}

#ot-widget-container10 {
  display: none;
}
