.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin: 4rem 0;
}
.imgLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 160px 160px;
  width: 100%;
  max-width: 500px;
  gap: 10px;
}

.imgContainer {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.imgContainer2 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.imgContainer3 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
