.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.itemsContainer {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  width: 100%;
  padding: 0 20px;
  margin: 20px 0;
}
.iconContainer {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  width: 100%;
  padding: 0 20px;
  margin: 10px 0;
}
.cupIcon {
  grid-column-start: 3;
  font-size: 2rem;
  color: var(--color-primary);
}

.bottleIcon {
  grid-column-start: 4;
  font-size: 2rem;
  color: var(--color-primary);
}

.titleSection {
  font-family: var(--fontFamily-title);
  font-size: 3rem;
  color: var(--color-primary);
  text-transform: uppercase;
  margin: 20px 0;
  margin-top: 40px;
}

.text {
  grid-column-start: 1;
  grid-column-end: 2;
}

.title {
  font-family: var(--fontFamily-title);
  font-size: 2rem;
  color: var(--color-primary);
  grid-row-start: 1;
}
.description {
  font-size: 1rem;
}

.price {
  text-align: end;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--color-primary);
  margin-top: 8px;
  grid-column-start: 2;
  grid-row-start: 1;
}
.bottlePrice {
  text-align: end;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--color-primary);
  margin-top: 8px;
  grid-column-start: 3;
  grid-row-start: 1;
}

@media only screen and (min-width: 600px) {
  .itemsContainer {
    display: grid;
    grid-template-columns: 1fr 80px 80px;
  }
  .iconContainer {
    grid-template-columns: 1fr 80px 80px;
  }
  .title {
    font-family: var(--fontFamily-title);
    font-size: 2.5;
    color: var(--color-primary);
  }
  .price,
  .bottlePrice {
    font-size: 1.2rem;
  }
  .description {
    font-size: 1.8rem;
  }

  .titleSection {
    font-size: 4rem;
    margin-top: 100px;
  }
}
