.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  margin: 4rem 0;
}
.text {
  font-size: 1.2rem;
}

.emailInput {
  background-color: var(--color-white);
  height: 30px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}

.btnSubmit {
  background: transparent;
  border-style: none;
  cursor: pointer;
}
.emailInput .input {
  border-style: none;
}

.politcaPrivacidad {
  display: flex;
  align-items: center;
  justify-content: center;
}
.label {
  font-size: 1.2rem;
  margin: 10px 0;
}

.checkBox {
  font-size: 2rem;
}
