.p {
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .lunch article {
    flex-direction: row-reverse;
  }
  .dessert article {
    flex-direction: row-reverse;
  }
  .drinkWithUs section {
    flex-direction: row-reverse;
  }
}
